body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  font-size: 1.5vw;
  background-color: rgb(89, 214, 89);
}
.top {
  margin: 0;
  padding: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.5);
}
.top img {
  height: 5vw;
  width: 5vw;
  border: 1px solid black;
  border-radius: 5px;
}
.top img:nth-child(2) {
  height: 7vw;
}
.select{
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 6vh;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.select select{
  font-size: 1.3vh;
  padding: 0.3vW;
}
.btn{
  font-size: 1.3vw;
  background-color: #fff;
  border-radius: 1vw;
  padding: 0.5vw;
  outline: none;
}
.zurnal {
  top: 11vh;
  left: 7vw;
  width: 100%;
  margin: 1vw;
}
.zurnal * {
  border: 1px solid black;
}
.sene {
  width: 2vw;
  height: 2vw;
}
#teachers {
  width: 100vw;
}
.head {
  margin-bottom: 0.3vw;
  border: none;
}
.head input {
  border: none;
  border-bottom: 1px solid black;
}
.head label {
  border: none;
}
#mug option:last-child{
  display: none;
}
